<!DOCTYPE html>
<html>
<head>
  <title></title>
  <style type="text/css"> 
  div{border: 1px solid black; padding: 5px; width: 200px; }
  </style>
</head>
<body>
<div>
<h2>Submitted Information</h2>
<p>Name: <%= user.name %></p>
<p>Dojo Location: <%= user.location %></p>
<p>Favorite Language: <%= user.language %></p>
<p>Comment: <%= user.comment %></p>
<a href="/"><button>Go Back</button></a>
</div>
</body>
</html>