<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>I_WANT_TO_PLAY_MY_STORYBOARDS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>94545C711D8092E800226744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94545C851D8092E800226744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>94545C901D8092E900226744</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
