<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css" type="text/css">
  </head>
  <body>
  <body>
    <h1>Edit Product {{product[0]}}</h1>
    <br>
    <form action="/products/update/{{product[0]}}" method="post">
    	<label>Name</label><br>
    	<input type="text" name="name" value="{{product[1]}}"><br>
			<label>Description</label><br>
    	<input type="text" name="description" value="{{product[2]}}"><br>
    	<label>Price</label><br>
    	<input type="text" name="price" value="{{product[3]}}"><br><br>
    	<input type="submit" value="Update">
    </form>
    <a href="/products/show/{{product[0]}}">Show</a> | 
    <a href="/">Go Back</a>
  </body>
</html>

<!-- 
To Do:
add form values from query (model)
flash messages for validation

 -->