<!DOCTYPE html>
<html>
<head>
	<title>Success Page</title>
</head>
<body>
{% if request.session.message %}
<p style="color: white;background-color: green">{{request.session.message}}</p>
{% endif %}

<h1>Email Addresses Entered:</h1>
<table>
	<thead>
		<th>email</th>
		<th>date created</th>
		<th>actions</th>
	</thead>
	<tbody>
		{% for email in emails %}
		<tr>
			<td>{{email.email}}</td>
			<td>{{email.created_at}}</td>
			<td>
				<form action="/delete/{{email.id}}" method="post">
					{% csrf_token %}
					<input type="submit" value="delete">
				</form>
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
</body>
</html>