<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>circle_radius_map.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>941CF9921D8B7EFA00EC7484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>941CF9A61D8B7EFA00EC7484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>941CF9B11D8B7EFB00EC7484</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
