<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>the zoo</title>
  </head>
  <body>
    <form action="/animal/add" method="post">
      <label>species:</label>
      <input type="text" name="species" value="">
      <label>weight:</label>
      <input type="text" name="weight" value="">
      <label>date of birth:</label>
      <input type="date" name="dob" value="">
      favorite food:
      <input type="text" name="food" value="">
      location:
      <input type="text" name="loc" value="">
      <input type="submit" value="add animal">
    </form>
  </body>
</html>
